* {
  box-sizing: border-box;
}

.container {
  min-width: 300px;
  width: 50%;
  max-width: 600px;
  margin: auto;
  padding: 1em;
  background-color: teal;
  color: white;
  text-align: center;
}

.container > button {
  background-color: blue;
  color: red;
  border-radius: 10px;
}